---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export const getStaticPaths: GetStaticPaths = async () => {
    // 1. 使用 getCollection 获取所有文章
    const allPosts = await getCollection("posts");

    // 2. 从 post.data.tags 获取标签
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

    return uniqueTags.map((tag) => {
        // 如果 tag 不存在，直接返回，避免错误
        if (!tag) {
            return;
        }
        // 3. 同样，从 post.data.tags 过滤文章
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags?.includes(tag)
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
};

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayout pageTitle={tag}>
    <h2>包含「{tag}」标签的文章</h2>
    <hr class="astro-hr" />
    <ul style='padding-left: 0;'>
        {
            posts.map((post:any) => (
                <BlogPost
                    // 3. `post.frontmatter` 变为 `post.data`
                    title={post.data.title}
                    // 4. `post.url` 需要用 `post.slug` 手动构建
                    url={`/posts/${post.slug}/`}
                    author={post.data.author}
                    date={post.data.pubDate}
                />
            ))
        }
    </ul>
</BaseLayout>