---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true })
);
// import BlogPost from "../components/BlogPost.astro";
const pageTitle = "我的 Astro 学习博客";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Blog</h1>
    <hr />
    <ul style='padding-left: 0;'>
        {
            allPosts.map((post: any) => (
                <BlogPost
                    title={post.frontmatter.title}
                    url={post.url}
                    author={post.frontmatter.author}
                    date={post.frontmatter.pubDate}
                />
            ))
        }
    </ul>
</BaseLayout>
