---
// src/pages/blog.astro (或者类似的文件名)

// 1. 从 `astro:content` 导入 `getCollection`
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

// 2. 使用 `await getCollection("posts")` 获取所有文章
//    "posts" 是你在 `src/content/` 目录下的文件夹名
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Blog</h1>
    <hr class="astro-hr" />
    <ul style='padding-left: 0;'>
        {
            allPosts.map((post:any) => (
                <BlogPost
                    // 3. `post.frontmatter` 变为 `post.data`
                    title={post.data.title}
                    // 4. `post.url` 需要用 `post.slug` 手动构建
                    url={`/posts/${post.slug}/`}
                    author={post.data.author}
                    date={post.data.pubDate}
                />
            ))
        }
    </ul>
</BaseLayout>