---
const { title, url, author, date } = Astro.props;
// 2. 定义格式化选项
const options = {
    year: "numeric",
    month: "2-digit", // 'long' 会显示 'September', '2-digit' 显示 '09'
    day: "2-digit",
};

// 3. 使用 toLocaleDateString() 创建格式化后的字符串
//    'en-CA' 格式为 YYYY-MM-DD
//    'zh-CN' 格式为 YYYY/MM/DD
//    'en-US' 格式为 MM/DD/YYYY
const dateObject = new Date(date);
const formattedDate = dateObject.toLocaleDateString("en-CA", options);
---

<h2 class='card-title'>
    <a href={url}>{title}</a>
</h2>

<div class='card-meta'>
    <time class='card-date' datetime={date}>{formattedDate}</time>
    <div class='card-authors'>
        <span>{author}</span>
    </div>
</div>

<a href={url} class='card-read-more'>Read more</a>
